*.vsconfig
*.csproj
*.sln
*.meta
*.unity
.vs/
Assets/Settings
Assets/Lib
Assets/Editor/AssetBundles
Assets/Editor/GeneratedCode
Assets/Editor/Mods
Library/
Logs/
Packages/
ProjectSettings/
UserSettings/
Temp/